<%# As váriaveis são declaradas no controlador, sendo utilizadas como váriaveis de instância %>

<html>
    <div class="container">
        <h1> Testes de Recebimento
            <%# <%= @teste %>
        <div class="row">
            <div class="col-md-3">
                <h3>
                    Credenciamento
                </h3>
                <%= form_tag("/recebimento/credenciamento", method: "post") do %>
                    <div class="form-fields">
                        <%= label_tag :nome_empresa, "Nome da empresa (Empresa de Exemplo) :", class: 'label-field' %>
                        <%= text_field_tag :nome_empresa, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :conta_repasse, "Conta Repasse (99999-9):", class: 'label-field' %>
                        <%= text_field_tag :conta_repasse, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :agencia_repasse, "Agência Repasse (0001):", class: 'label-field' %>
                        <%= text_field_tag :agencia_repasse, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :banco_repasse, "Banco Repasse (001):", class: 'label-field' %>
                        <%= text_field_tag :banco_repasse, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :cnpj, "CNPJ (50282264000153):", class: 'label-field' %>
                        <%= text_field_tag :cnpj, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :ddd, "DDD (19):", class: 'label-field' %>
                        <%= text_field_tag :ddd, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :telefone, "Telefone (40096830):", class: 'label-field' %>
                        <%= text_field_tag :telefone, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :email, "E-mail (atendimento@pjbank.com.br):", class: 'label-field' %>
                        <%= text_field_tag :email, "", class: 'input-field' %>
                    </div>
                    <input type="submit" class="btn btn-success submit-field" value="Enviar">
                <% end %>
            </div>
            <div class="col-md-3">
                <h3>
                    Emitir
                </h3>
                <%= form_tag("/recebimento/emitir", method: "post") do %>
                    <div class="form-fields">
                        <%= label_tag :vencimento, "Vencimento (12/30/2019) :", class: 'label-field' %>
                        <%= text_field_tag :vencimento, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :valor, "Valor (50.75):", class: 'label-field' %>
                        <%= text_field_tag :valor, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :juros, "Juros (0):", class: 'label-field' %>
                        <%= text_field_tag :juros, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :multa, "Banco Repasse (0):", class: 'label-field' %>
                        <%= text_field_tag :multa, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :desconto, "Desconto (9.58):", class: 'label-field' %>
                        <%= text_field_tag :desconto, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :nome_cliente, "Nome Cliente (Cliente de Exemplo):", class: 'label-field' %>
                        <%= text_field_tag :nome_cliente, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :cpf_cliente, "CPF Cliente (62936576000112):", class: 'label-field' %>
                        <%= text_field_tag :cpf_cliente, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :endereco_cliente, "Endereco Cliente (Rua Joaquim Vilac):", class: 'label-field' %>
                        <%= text_field_tag :endereco_cliente, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :numero_cliente, "Número Cliente (509):", class: 'label-field' %>
                        <%= text_field_tag :numero_cliente, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :complemento_cliente, "Complemento Cliente (opcional):", class: 'label-field' %>
                        <%= text_field_tag :complemento_cliente, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :bairro_cliente, "Bairro Cliente (Vila Teixeira):", class: 'label-field' %>
                        <%= text_field_tag :bairro_cliente, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :cidade_cliente, "Cidade Cliente (Campinas):", class: 'label-field' %>
                        <%= text_field_tag :cidade_cliente, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :estado_cliente, "Estado Cliente (SP):", class: 'label-field' %>
                        <%= text_field_tag :estado_cliente, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :cep_cliente, "CEP Cliente (13301510):", class: 'label-field' %>
                        <%= text_field_tag :cep_cliente, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :logo_url, "Logo URL (http://wallpapercave.com/wp/xK64fR4.jpg):", class: 'label-field' %>
                        <%= text_field_tag :logo_url, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :texto, "Texto (opcional):", class: 'label-field' %>
                        <%= text_field_tag :texto, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :grupo, "Grupo (Boletos001):", class: 'label-field' %>
                        <%= text_field_tag :grupo, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :pedido_numero, "Pedido Número (8972):", class: 'label-field' %>
                        <%= text_field_tag :pedido_numero, "", class: 'input-field' %>
                    </div>
                    <input type="submit" class="btn btn-success submit-field" value="Enviar">
                <% end %>
            </div>
            <div class="col-md-3">
                <h3>
                    Emissão em Lote
                </h3>
                <%= form_tag("/recebimento/emissao", method: "post") do %>
                    <div class="form-fields">
                        <%= label_tag :x_chave, "X-Chave (46e79d6d5161336afa7b98f01236efacf5d0f24b) :", class: 'label-field' %>
                        <%= text_field_tag :x_chave, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :pedido_numero, "Número de pedidos (pode ser array):", class: 'label-field' %>
                        <%= text_field_tag :pedido_numero, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :formato, "Formato (opcional) (carne):", class: 'label-field' %>
                        <%= text_field_tag :formato, "", class: 'input-field' %>
                    </div>
                    
                    <input type="submit" class="btn btn-success submit-field" value="Enviar">
                <% end %>
            </div>
            <div class="col-md-3">
                <h3>
                    Emissão de Carnê
                </h3>
                <%= form_tag("/recebimento/carne", method: "post") do %>
                    <div class="form-fields">
                        <%= label_tag :x_chave, "X-Chave (46e79d6d5161336afa7b98f01236efacf5d0f24b) :", class: 'label-field' %>
                        <%= text_field_tag :x_chave, "", class: 'input-field' %>
                    </div>
                    <div class="form-fields">
                        <%= label_tag :pedido_numero, "Número de pedidos (pode ser array):", class: 'label-field' %>
                        <%= text_field_tag :pedido_numero, "", class: 'input-field' %>
                    </div>
                    <%= hidden_field :formato, "carne" %>
                    <input type="submit" class="btn btn-success submit-field" value="Enviar">
                <% end %>
            </div>
        </div>
    </div>

    <style>
        .form-fields{
            line-height: 0.7;
            margin-bottom: 10px;
        }
        .label-field{
            font-size: 11px;
            margin-bottom: 0px;
            line-height: 1.2;
        }
        .input-field{
            width: 100%;
            height: 30px;
            font-size: 16px;
            padding-left: 10px;
        }
        .submit-field{
            height: 35px;
            width: 100%;
        }
    </style>
</html>